{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}



    <div class="container-fluid">

        <br>
        <br>
        <br>
        <br>
        <h1>Page d'accueil</h1>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>

{% endblock %}
